@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika:wght@300..700&display=swap");
/* rubik font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.signika {
  font-family: "Signika", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.wrapper {
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
}

/* Custom CSS for pagination */
.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  padding: 8px 12px;
  border: 1px solid #ccc;
  cursor: pointer;
  color: #333;
  text-decoration: none;
}

.pagination li a:hover {
  background-color: #f1f1f1;
}

.pagination .active a {
  background-color: #4caf50;
  color: white;
}

.pagination li a:disabled {
  cursor: not-allowed;
  background-color: #f0f0f0;
  color: #ccc;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

tbody tr:hover {
  background-color: #f9f9f9;
}



/* navbar */

/* @import url("https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"); */


body {
  font-family: "Rubik", serif;
}

/* navbar */
.navbar {
  max-width: 1150px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

/* nav links */

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.nav-link {
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  left: 0%;
  transition: all 500ms ease-in-out;
}

.nav-link:hover {
  color: #fff;
}
.nav-link:hover::before {
  width: 100%;
}
/* stikcy link */
.nav-link-2 {
  position: relative;
}

.nav-link-2::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000;
  bottom: 0;
  left: 0%;
  transition: all 500ms ease-in-out;
}

.nav-link-2:hover {
  color: #000;
}
.nav-link-2:hover::before {
  width: 100%;
}

/* faq header */

.faq-header {
  max-width: 1150px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  height: 370px;
  color: #fff;
}

.faq-title,
.terms-headline h4 {
  font-size: 3.5rem;
  color: #fff;
  font-family: "Signika", serif;
}

/* faq menu container */

.faq-menu-container {
  max-width: 1150px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: stretch;
  margin-top: 5rem;
}
.faq-menu-left {
  flex-grow: 2;
  flex-basis: 0;
  position: sticky;
  height: max-content;
  top: 10%;
}

.faq-menu-left ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 18px;
}

.faq-menu-right {
  flex-grow: 8;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.general-questions,
.terms {
  border-bottom: 1px solid #dbdada;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.general-questions h4,
.terms h4 {
  font-size: 1.75rem;
  font-family: "Signika", serif;
}

.general-questions p {
  font-size: 18px;
}

.question {
  border: 1px solid #d1d0d0;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.question-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 2rem;
}

.question-one span {
  font-size: 30px;
}

/* responsive */

@media screen and (max-width: 1024px) {
  .navbar,
  .faq-header,
  .terms-headline,
  .faq-menu-container {
    max-width: 800px;
  }
}

@media screen and (max-width: 800px) {
  .faq-header,
  .terms-headline {
    max-width: 500px;
    padding: 0 1rem;
  }
  .faq-title,
  .terms-headline h4 {
    font-size: 3rem;
  }
  .faq-menu-left,
  .terms-menu-left {
    display: none;
  }
  .faq-menu-right,
  .terms-menu-right {
    padding: 0 2rem;
  }
}
/* terms */

.terms-headline-container {
  background: #dbdada;
}
.terms-headline {
  max-width: 1150px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  height: 370px;

  color: #000;
}
.terms-menu-container {
  max-width: 1150px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: stretch;
  margin-top: 5rem;
}

.terms-menu-left {
  flex-grow: 2;
  flex-basis: 0;
  position: sticky;
  height: max-content;
  top: 10%;
}

.terms-menu-left ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 18px;
}
.terms-menu-right {
  flex-grow: 8;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}


/* background */
.background {
  background: url("../../background-image.jpg");
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.background-about {
  background: url("../../background-image.jpg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0% 0% 10% 10%;
}

.about-header {
  display: flex;
  flex-direction: column;
  max-width: 1150px;
  margin: 0 auto;
  width: 600px;
  align-items: center;
  justify-content: center;
  height: 520px;
  gap: 1rem;
}

.about-title {
  font-size: 3.5rem;
  font-family: "Signika", serif;
}

.about-description {
  width: 410px;
  text-align: center;
}

/* vision container */

.vision-container {
  max-width: 1150px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: stretch;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.vision-left {
  flex-grow: 4;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.vision-right {
  flex-grow: 6;
  flex-basis: 0;
}

.vision-heading {
  padding: 0.2rem 0.5rem;
  background: #dddbdb;
  border-radius: 0.6rem;
  align-self: start;
  font-size: 16px;
  font-weight: 500;
}

.vision-left h4 {
  font-size: 2.5rem;
  font-family: "Signika", serif;
  font-weight: 500;
}

.vision-left h4 > span {
  position: relative;
}

.vision-left h4 > span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: rgb(33, 33, 126);
  left: 0;
  bottom: -3px;
}

.vision-left p {
  color: #afadad;
  line-height: 1.6;
}

.sponsors {
  max-width: 1150px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 5rem;
}

.team-section {
  max-width: 1150px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}

.career-headline span {
  position: relative;
}
.career-headline span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: rgb(33, 33, 126);
  left: 0;
  bottom: -3px;
}

.cta-bg {
  background: url("../../background-image.jpg");
  height: 400px;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* responsive */

@media screen and (max-width: 1024px) {
  .navbar,
  .faq-header,
  .terms-headline,
  .faq-menu-container,
  .about-header,
  .vision-container {
    max-width: 800px;
  }
  .vision-container {
    flex-direction: column;
  }

  .vision-left {
    align-items: center;
  }
  .vision-heading {
    align-self: center;
  }
}

@media screen and (max-width: 800px) {

  .faq-header,
  .terms-headline {
    max-width: 500px;
    padding: 0 1rem;
  }
  .faq-title,
  .terms-headline h4 {
    font-size: 3rem;
  }
  .faq-menu-left,
  .terms-menu-left {
    display: none;
  }
  .faq-menu-right,
  .terms-menu-right {
    padding: 0 2rem;
  }
  .about-header {
    max-width: 350px;
  }
  .about-title {
    font-size: 1.8rem;
  }
  .about-description {
    width: 300px;
    text-align: center;
  }
  /* team */
}

